.view {
    background: url("https://cdnmundo2.img.sputniknews.com/images/107178/93/1071789321.jpg") no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.nb-footer {
    background: #222;
    padding-bottom: 40px;
    border-top: 4px solid #a39ca3;
}

.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

.social-media a {
    padding: 10px 14px 10px 14px;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    line-height: 45px;
    border-radius: 100%;
    color: #fdfff8;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.social-media a:hover {
    background-color: white;
    color: #2b2a2e;
    border: 1px solid rgba(43, 42, 46, 0.3);
}

footer.nb-footer .about p {
    font-size: 14px;
    color: #999;
}

.imagen {
    padding: 50px;
}

.imagen img {
    box-shadow: 5px 8px rgba(123, 123, 123, 0.63);
}

.top-nav-collapse {
    background-color: #545150;
}

.scrollbot {
    background: inherit;
    border: 0px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #545150;
    }
}

.breadcrumb-item {
    font-weight: bold;
    color: white !important;
}

.breadcrumb-item a {
    color: #c2f3ff !important;
}