.view {
    background: url("../img/wallpaper2.jpg") no-repeat center center;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.intro {
    min-height: 300px !important;
}

.alinear {
    align-items: center;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }

    .marg {
        margin-top: 18% !important;
    }
}

@media only screen and (max-width: 576px) {
    .marg {
        margin-top: 25% !important;
    }
}

#mapa {
    border: 2px solid;
    height: 470px;
    width: 100%;
    color: #000000;
}

.marg {
    margin-top: 7%;
}

.wow {
    margin-bottom: 30px;
    color: white;

}

.nb-footer {
    background: #222;
    padding-bottom: 40px;
    border-top: 4px solid #a39ca3;
}

.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

.social-media a {
    padding: 10px 14px 10px 14px;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    line-height: 45px;
    border-radius: 100%;
    color: #fdfff8;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.social-media a:hover {
    background-color: white;
    color: #2b2a2e;
    border: 1px solid rgba(43, 42, 46, 0.3);
}

footer.nb-footer .about p {
    font-size: 14px;
    color: #999;
}

button:hover {
    background-color: #e7f1ff !important;
}

.top-nav-collapse {
    background-color: #545150;
}

.scrollbot {
    background: inherit;
    border: 0px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #545150;
    }
}

.dropdown-toggle::after {
    display: none;
}