.row {
    justify-content: center;
}

.form-group {
    text-align: right;
}

.form {
    width: 100%;
}

.titulo {
    font-family: 'Dancing Script';
    margin-bottom: 30px;
}

.input-group img {
    margin-right: 10px;
    height: 50%;
}

select {
    border: 0px solid;
    width: 80%;
}

@media screen and (max-width: 996px) {
    .separadores {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    label {
        display: none;
    }

    .separar {
        display: block;
    }
}

.dropdown-toggle::after {
    display: none;
}

.separar {
    margin-right: 15px;
    margin-left: 15px;
}

label {
    font-weight: bold;

}