.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg") no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.dropdown-toggle::after {
    display: none;
}

.logo {
    border: 0px;
    background: transparent;
    max-height: 40px;
    max-width: 60px;
    margin-right: 15px;
}

